{% extends 'blog/base.html' %}

{% block content %}

        <div id='post-container'>

            <h2> Blog Home </h2>

            {% for post in posts %}

                <hr>

                <table class='post'>

                    <tr class='post-header'>

                        <td class='post-title-container'>  <h2 class='post-title'> {{ post.title }} </h2> <p>By {{ post.author }}</p>  </td>
                        <td class='post-date-container'>  <p class='post-date'> {{  post.date }} </p>  </td>

                    </tr>

                    <tr class='post-body'>

                        <td colspan=3 class='post-content-container'>  <p class='post-content'> {{ post.text|linebreaksbr }} </p>  </td>

                    </tr>

                    <tr>

                        <td class='post-like-container'>

                            <form action="/like/" method="post">

                                {% csrf_token %}

                                <input type="hidden" class="post-like-post-id" name="post" value="{{ post.id }}">
                                <input type="hidden" class="post-like-user-id" name="user" value="{{ user.id }}">
                                <input type="submit" class="post-like" value="👍">

                            </form>

                            <h4> {{ post.likes }} </h4>

                        </td>

                    </tr>

                </table>

            {% endfor %}

        </div>

        <style>

        #post-container {

            width: 100%;

        }

        .post {

            width: 100%;
            padding: 20px;
            border-collapse:collapse;

        }

        .post tr td {

            padding-left: 15px;
            padding-right: 15px;

        }

        .post-date-container {

            text-align: right;

        }

        .post-header {

            border-bottom: 1px solid #aaa;

        }

        .post-like-container {

            padding: 0;
        }

        .post-like {

            font-size: 1.5em;

        }

        </style>

        <script>



        </script>

{% endblock %}
